# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/bin
/obj
*.mdf
*.ldf
*.sdf
*.laccdb
*.sdf
*.laccdb
*.sdf
*.lock
*.vsidx
*.accdb
*.sdf
*.db
*.accdb
*.accdb
*.sdf
Clients/WebBrower/net6.0-windows/runtimes/win-x64/native/libcef.dll
Clients/WebBrower/net6.0-windows/runtimes/win-x64/native/libcef.dll
