<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <appSettings>
        <!-- =======================================================================================================================-->
        <add key="SQLite" value="Data\Database\SQLite\DataModels\Data.db" />
        <add key="SQLiteReferences" value="Data\Database\SQLite\ReferenceModels\References.db" />
        <add key="SqlCe" value="Data\Database\SqlCe\DataModels\Data.sdf" />
        <add key="SqlCeReferences" value="Data\Database\SqlCe\ReferenceModels\References.sdf" />
        <add key="SqlServer" value="Data\Database\MSSQL\DataModels\Data.mdf" />
        <add key="SqlServerReferences" value="Data\Database\MSSQL\ReferenceModels\References.mdf" />
        <add key="Access" value="Data\Database\Access\DataModels\Data.accdb" />
        <add key="AccessReferences" value="Data\Database\Access\ReferenceModels\References.accdb" />
        <add key="OleDb" value="Data\Database\OleDb\DataModels\Data.mdb" />
        <add key="Excel" value="{FilePath}" />
        <add key="CSV" value="{FilePath}" />
        <add key="Report" value="Ninja\Template\Excel.xlsx" />
        <!-- =======================================================================================================================-->
        <add key="FundsControlManual" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\RMDS\FundsControlManual.pdf" />
        <add key="CFR31" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\RMDS\CFR31.pdf" />
        <add key="ObjectClassManual" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\RMDS\ObjectClassManual.pdf" />
        <add key="OfficialTravel" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\RMDS\OfficialTravel.pdf" />
        <add key="SuperfundIntroduction" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\Introduction.docx" />
        <add key="SuperfundGeneralInformation" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\GeneralInformation.docx" />
        <add key="SuperfundResourceManagement" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\BudgetAndResourceManagement.docx" />
        <add key="SuperfundContracts" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\Contracts.docx" />
        <add key="SuperfundCostRecovery" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\CostRecoveryProcess.docx" />
        <add key="SuperfundDirectCharging" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\DirectChargingOfSuperfundCosts.docx" />
        <add key="SuperfundInterAgencyAgreements" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\InterAgencyAgreeements.docx" />
        <add key="SuperfundPersonnelAndSupportCosts" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\PersonnelAndSupportCostAllocation.docx" />
        <add key="SuperfundSiteSpecificCosts" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\SiteSpecificCostAccounting.docx" />
        <add key="SuperfundSiteSpecialAccounts" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\SpecialAccounts.docx" />
        <add key="SuperfundStateContracts" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\StateContractsAndCooperativeAgreements.docx" />
        <add key="SuperfundStateCostShare" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\StateCostShareProvisions.docx" />
        <add key="Report" value="C:\Users\teppler\source\repos\BudgetExecution\Etc\doc\SF\" />
        <!-- =======================================================================================================================-->
        <add key="DatabaseImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Database\png" />
        <add key="BadgerImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Badger\png" />
        <add key="DataImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Data\png" />
        <add key="CloseBoxImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Close\png" />
        <add key="Caption" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Division\Caption" />
        <add key="DivisionImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Division\png" />
        <add key="Divisions" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Division\png" />
        <add key="EmailImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Email\png" />
        <add key="EmployeeImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Employee\png" />
        <add key="ExecutionImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Execution\png" />
        <add key="FileImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\File\png" />
        <add key="FilterImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Filter\png" />
        <add key="FolderImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Folder\png" />
        <add key="FormatImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Format\png" />
        <add key="FundImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Fund\png" />
        <add key="IdentificationImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Identification\png" />
        <add key="InterfaceImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Interface\png" />
        <add key="LoaderImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Loaders\gif" />
        <add key="MathImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Math\png" />
        <add key="NavigationImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Navigation\png" />
        <add key="NinjaImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Ninja\png" />
        <add key="NotificationImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Notification\png" />
        <add key="ObjectclassImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Objectclass\png" />
        <add key="OfficeImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Office\png" />
        <add key="ObligationImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Obligation\png" />
        <add key="ProviderImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Provider\png" />
        <add key="SummaryImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Summary\png" />
        <add key="ToolBarImages" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\Toolbar\png" />
        <add key="BudgetExecutionIcon" value="C:\Users\teppler\source\repos\BudgetExecution\Badger\Images\EPA\ico\EPA.ico" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <!-- =======================================================================================================================-->
    </appSettings>
    <connectionStrings>
        <add name="SQLite" providerName="System.Data.SQLite" connectionString="Data Source=Data\Database\SQLite\DataModels\Data.db" />
        <add name="SQLiteReferences" providerName="System.Data.SQLite" connectionString="Data Source=Data\Database\SQLite\ReferenceModels\References.db" />
        <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Data\Database\MSSQL\DataModels\Data.mdf;Integrated Security=True;Connect Timeout=30" />
         <add name="SqlServerReferences" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Data\Database\MSSQL\ReferenceModels\References.mdf;Integrated Security=True;Connect Timeout=30" />
        <add name="SqlCe" providerName="System.Data.SqlServerCe" connectionString="Data Source=Data\Database\SqlCe\DataModels\Data.sdf" />
        <add name="SqlCeReferences" providerName="System.Data.SqlServerCe" connectionString="Data Source=Data\Database\SqlCe\ReferenceModels\References.sdf" />
        <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Data\Access\DataModels\Data.accdb;Persist Security Info=False" providerName="System.Data.OleDb" />
        <add name="AccessReferences" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Data\Access\ReferenceModels\References.accdb;Persist Security Info=False" providerName="System.Data.OleDb" />
        <add name="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="CSV" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={FilePath};Extended Properties='Text';FMT='Delimited'" providerName="System.Data.OleDb" />
        <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.4460.0.50" newVersion="19.4460.0.50" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.4460.0.50" newVersion="19.4460.0.50" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>