<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <System.Windows.Forms.ApplicationConfigurationSection>
  <configSections>
      <appSettings>
        <!-- *****************************************************************************************************************-->
        <!-- *********************************** DATABASE FILE PATHS  ******************************************************-->
        <!-- *****************************************************************************************************************-->
        <add key="SQLite" value="data\database\sqlite\datamodels\Data.db" />
        <add key="SqlCe" value="data\database\sqlce\datamodels\Data.sdf" />
        <add key="SqlServer" value="data\database\mssql\datamodels\Data.mdf" />
        <add key="Access" value="data\database\access\datamodels\Data.accdb" />
        <add key="OleDb" value="data\database\oledb\datamodels\Data.mdb" />
        <add key="Excel" value="{FilePath}" />
        <add key="CSV" value="{FilePath}" />
        <!-- *****************************************************************************************************************-->
        <!-- ************************************** DOCUMENT FILE PATHS ******************************************************-->
        <!-- *****************************************************************************************************************-->
        <add key="Budget" value="ninja\template\Control.xlsx" />
        <add key="Report" value="ninja\template\Report.xlsx" />
        <add key="SavePath" value="res\template\report" />
        <!-- *****************************************************************************************************************-->
        <!-- ***********************************  IMAGE RESOURCES     ********************************************************-->
        <!-- *****************************************************************************************************************-->
        <add key="DatabaseImages" value="badger\icons\database" />
        <add key="BadgerImages" value="badger\icons\badger\png" />
        <add key="DataImages" value="badger\icons\Data" />
        <add key="CloseBoxImages" value="badger\icons\close" />
        <add key="Caption" value="badger\icons\division\caption" />
        <add key="Divisionicons" value="badger\icons\division\ico" />
        <add key="Divisions" value="badger\icons\division\png" />
        <add key="EmailImages" value="badger\icons\email\png" />
        <add key="EmployeeImages" value="badger\icons\employee\png" />
        <add key="ExecutionImages" value="badger\icons\execution\png" />
        <add key="FileImages" value="badger\icons\file\png" />
        <add key="FilterImages" value="badger\icons\filter\png" />
        <add key="FolderImages" value="badger\icons\folder\png" />
        <add key="FormatImages" value="badger\icons\format\png" />
        <add key="FundImages" value="badger\icons\fund\png" />
        <add key="IdentificationImages" value="badger\icons\identification\png" />
        <add key="InterfaceImages" value="badger\icons\interface\png" />
        <add key="LoaderImages" value="badger\icons\loaders\gif" />
        <add key="MathImages" value="badger\icons\math\png" />
        <add key="NavigationImages" value="badger\icons\navigation\png" />
        <add key="NinjaImages" value="badger\icons\ninja\png" />
        <add key="NotificationImages" value="badger\icons\notification\png" />
        <add key="ObjectclassImages" value="badger\icons\objectclass\png" />
        <add key="OfficeImages" value="badger\icons\office\png" />
        <add key="ObligationImages" value="badger\icons\obligation\png" />
        <add key="ProviderImages" value="badger\icons\Provider\png" />
        <add key="SummaryImages" value="badger\icons\summary\png" />
        <add key="ToolBarImages" value="badger\icons\toolbar\png" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
      <connectionStrings>
        <!-- *****************************************************************************************************************-->
        <!-- ***********************************   CONNECTION STRINGS   ******************************************************-->
        <!-- *****************************************************************************************************************-->
        <add name="SQLite" providerName="System.Data.SQLite" connectionString="Data Source=data\database\sqlite\datamodels\Data.db" />
        <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=data\database\mssql\datamodels\Data.mdf;Integrated Security=True;Connect Timeout=30" />
        <add name="SqlCe" providerName="System.Data.SqlServerCe" connectionString="Data Source=data\database\sqlce\datamodels\Data.sdf" />
        <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=data\database\access\datamodels\Data.accdb;Persist Security Info=False" providerName="System.Data.OleDb" />
        <add name="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="CSV" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={FilePath};Extended Properties='Text';FMT='Delimited'" providerName="System.Data.OleDb" />
        <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
        <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
      </connectionStrings>
      </appSettings>
  </configSections>
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>