IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'ActivityCodes' )
BEGIN
CREATE TABLE [dbo].[ActivityCodes]
(
	[ActivityCodesId] INT IDENTITY(1,1) NOT NULL,
	[Code] VARCHAR(80) NULL DEFAULT ('NS'),
	[Name] VARCHAR(80) NULL DEFAULT ('NS'),
	[Title] VARCHAR(80) NULL DEFAULT ('NS')
);
END
