IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'Appropriation' )
BEGIN
CREATE TABLE [dbo].[Appropriations]
(
	[AppropriationsId] INT IDENTITY(1,1) NOT NULL,
	[BFY] VARCHAR(255) NOT NULL,
	[Title] VARCHAR(80) NULL DEFAULT ('NS'),
	[PublicLaw] VARCHAR(80) NULL DEFAULT ('NS'),
	[EnactedDate] DATETIME NULL
);
END