IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'Documents' )
BEGIN
CREATE TABLE [dbo].[Documents]
(
	[DocumentsId] INT IDENTITY(1,1) NOT NULL,
	[Code] VARCHAR(80) NULL DEFAULT ('NS'),
	[Category] VARCHAR(80) NULL DEFAULT ('NS'),
	[Name] VARCHAR(80) NULL DEFAULT ('NOT SPECIFIED'),
	[System] VARCHAR(80) NULL DEFAULT ('NS')
);
END