IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'FiscalYears' )
BEGIN
CREATE TABLE [dbo].[FiscalYears]
(
	[FiscalYearsId] INT IDENTITY(1,1) NOT NULL,
	[BFY] VARCHAR(255) NOT NULL,
	[EFY] VARCHAR(80) NULL DEFAULT ('NS'),
	[FirstYear] VARCHAR(80) NULL DEFAULT ('NS'),
	[LastYear] VARCHAR(80) NULL DEFAULT ('NS'),
	[ExpiringYear] VARCHAR(80) NULL DEFAULT ('NS'),
	[StartDate] DATETIME NULL,
	[EndDate] DATETIME NULL,
	[Availability] VARCHAR(80) NULL DEFAULT ('NS'),
	[Columbus] DATETIME NULL,
	[Thanksgiving] DATETIME NULL,
	[Christmas] DATETIME NULL,
	[NewYears] DATETIME NULL,
	[MartinLutherKing] DATETIME NULL,
	[Presidents] DATETIME NULL,
	[Memorial] DATETIME NULL,
	[Veterans] DATETIME NULL,
	[Labor] DATETIME NULL,
	[WorkDays] FLOAT NULL DEFAULT 0,
	[WeekDays] FLOAT NULL DEFAULT 0,
	[WeekEnds] FLOAT NULL DEFAULT 0
);
END