IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'Goals' )
BEGIN
CREATE TABLE [dbo].[Goals]
(
	[GoalsId] INT IDENTITY(1,1) NOT NULL,
	[Code] VARCHAR(80) NULL DEFAULT ('NS'),
	[Name] VARCHAR(80) NULL DEFAULT ('NOT SPECIFIED'),
	[Title] VARCHAR(80) NULL DEFAULT ('NOT SPECIFIED')
);
END
