IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'GsPayScales' )
BEGIN
CREATE TABLE [dbo].[GsPayScales]
(
	[GsPayScalesId] INT IDENTITY(1,1) NOT NULL,
	[LOCNAME] VARCHAR(80) NULL DEFAULT ('NS'),
	[GRADE] FLOAT NULL,
	[ANNUAL1] FLOAT NULL,
	[HOURLY1] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME1] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL2] FLOAT NULL,
	[HOURLY2] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME2] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL3] FLOAT NULL,
	[HOURLY3] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME3] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL4] FLOAT NULL,
	[HOURLY4] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME4] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL5] FLOAT NULL,
	[HOURLY5] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME5] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL6] FLOAT NULL,
	[HOURLY6] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME6] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL7] FLOAT NULL,
	[HOURLY7] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME7] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL8] FLOAT NULL,
	[HOURLY8] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME8] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL9] FLOAT NULL,
	[HOURLY9] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME9] VARCHAR(80) NULL DEFAULT ('NS'),
	[ANNUAL10] FLOAT NULL,
	[HOURLY10] VARCHAR(80) NULL DEFAULT ('NS'),
	[OVERTIME10] VARCHAR(255) NULL
);
END