IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'Messages' )
BEGIN
CREATE TABLE [dbo].[Messages]
(
	[MessagesId] INT IDENTITY(1,1) NOT NULL,
	[Message] VARCHAR(80) NULL DEFAULT ('NS'),
	[Type] VARCHAR(80) NULL DEFAULT ('NS'),
	[Form] VARCHAR(80) NULL DEFAULT ('NS')
);
END