IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'NationalPrograms' )
BEGIN
CREATE TABLE [dbo].[NationalPrograms]
(
	[NationalProgramsId] INT IDENTITY(1,1) NOT NULL,
	[Code] VARCHAR(255) NOT NULL,
	[Name] VARCHAR(80) NULL DEFAULT ('NOT SPECIFIED'),
	[RpioCode] VARCHAR(80) NULL DEFAULT ('NS'),
	[Title] VARCHAR(80) NULL DEFAULT ('NOT SPECIFIED')
);
END