IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'ProgramProjects' )
BEGIN
CREATE TABLE [dbo].[ProgramProjects]
(
	[ProgramProjectsId] INT IDENTITY(1,1) NOT NULL,
	[Code] VARCHAR(80) NULL DEFAULT ('NS'),
	[Name] VARCHAR(255) NULL DEFAULT ('NOT SPECIFIED')
);
END