IF NOT EXISTS ( SELECT * 
				FROM INFORMATION_SCHEMA.TABLES 
				WHERE TABLE_NAME = N'ReferenceTables' )
BEGIN
CREATE TABLE [dbo].[ReferenceTables]
(
	[ReferenceTablesId] INT IDENTITY(1,1) NOT NULL,
	[TableName] VARCHAR(80) NULL DEFAULT ('NOT SPECIFIED'),
	[Type] VARCHAR(max) NULL DEFAULT ('NS')
);
END
