<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--******************************************************************************-->
    <!--**********************************   URL   ***********************************-->
    <!--******************************************************************************-->
    <add key="Homepage" value="file:///C:/Users/terry/source/repos/BudgetBrowser/WebPages/index.html"/>
    <add key="NewTab" value="https://www.google.com"/>
    <add key="Internal" value="budgetbrowser"/>
    <add key="Downloads" value="budgetbrowser://storage/downloads.html"/>
    <add key="FileNotFound" value="budgetbrowser://storage/errors/notFound.html"/>
    <add key="CannotConnect" value="budgetbrowser://storage/errors/cannotConnect.html"/>
    <add key="Branding" value="Budget Browser"/>
    <add key="AcceptLanguage" value="en-US,en;q=0.9"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.5112.102 Safari/537.36 /CefSharp Browser"/>
    <add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe"/>
    <add key="Chrome" value ="C:\Program Files\Google\Chrome\Application\chrome.exe"/>
    <add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
    <!--******************************************************************************-->
    <!--*******************************    Domains    ********************************-->
    <!--******************************************************************************-->
    <add key="Google" value="https://www.google.com/search?q="/>
    <add key="Search" value="https://www.google.com/search?q="/>
    <add key="EPA" value="https://www.google.com/search?q=site:epa.gov "/>
    <add key="GPO" value="https://www.google.com/search?q=site:gpo.gov "/>
    <add key="GovInfo" value="https://www.google.com/search?q=site:govinfo.gov "/>
    <add key="CRS" value="https://www.google.com/search?q=site:crsreports.congress.gov "/>
    <add key="LOC" value="https://www.google.com/search?q=site:loc.gov "/>
    <add key="OMB" value="https://www.google.com/search?q=site:whitehouse.gov "/>
    <add key="Treasury" value="https://www.google.com/search?q=site:fiscal.treasury.gov "/>
    <add key="NASA" value="https://www.google.com/search?q=site:nasa.gov "/>
    <add key="NOAA" value="https://www.google.com/search?q=site:noaa.gov "/>
    <add key="GitHub" value="https://www.google.com/search?q=site:github.com "/>
    <add key="NuGet" value="https://www.google.com/search?q=site:nuget.org "/>
    <add key="PyPI" value="https://www.google.com/search?q=site:pypi.org "/>
    <!--******************************************************************************-->
    <!--*******************************  Credentials  ********************************-->
    <!--******************************************************************************-->
    <add key="Username" value="--UserName--"/>
    <add key="WebSecurity" value="true"/>
    <add key="CrossDomainSecurity" value="true"/>
    <add key="WebGL" value="true"/>
    <add key="ApplicationCache" value="true"/>
    <add key="Proxy" value="false"/>
    <add key="ProxyIP" value="123.123.123.123"/>
    <add key="ProxyPort" value="123"/>
    <add key="ProxyUsername" value="username"/>
    <add key="ProxyPassword" value="pass"/>
    <add key="ProxyBypassList" value=""/>
  </appSettings>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
</configuration>
